<aside class="file-explorer" id="file-explorer">
  <div class="explorer-header">
    <span class="explorer-title">Explorer</span>
  </div>
  <div class="explorer-tree">
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    {{ if gt (len $taxonomy.Pages) 0 }}
    <div class="tree-section">
      <div class="tree-section-header">
        <svg class="folder-icon" width="14" height="14" viewBox="0 0 14 14" fill="currentColor">
          <path d="M1 2.5A1.5 1.5 0 012.5 1h3.379a1.5 1.5 0 011.06.44l.622.62a.5.5 0 00.354.147H11.5A1.5 1.5 0 0113 3.707V11.5A1.5 1.5 0 0111.5 13h-9A1.5 1.5 0 011 11.5v-9z"/>
        </svg>
        <a href="{{ $taxonomy.Page.Permalink }}" class="tree-label">{{ humanize $name }}</a>
      </div>
      <div class="tree-children">
        {{ range $taxonomy.Pages }}
        <a href="{{ .Permalink }}" class="tree-file{{ if eq $.RelPermalink .RelPermalink }} active{{ end }}">
          <svg class="file-icon" width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
            <path d="M2 1a1 1 0 00-1 1v8a1 1 0 001 1h8a1 1 0 001-1V3.414a1 1 0 00-.293-.707L8.293 1.293A1 1 0 007.586 1H2z"/>
          </svg>
          <span>{{ .Title }}</span>
        </a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</aside>
